<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Cuotiben">
  <meta name="author" content="Your Name">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cuotiben - Creating a New Group</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
  * {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

body {
  background:  white;/*#434343;*/
  color:       white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:   0.9em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black
}

a:hover, a:active  {
  text-decoration: none;

}

a:visited, a:link {
  text-decoration: none;
  color: black;

}
/**
 * top header
 */
.top-header {
  align-items: center;
  background:  #434343;/*#DF574B;*/
  box-shadow:  0px 2px 10px #333333;
  display:     flex;
  font-size: 14px;
  height:      60px;
  position:    fixed;
  top:         0;
  width:       100%;
  z-index:     1;
}

#avatar {
  display: none;
}

.avatar {
  background:    #FFFFFF;
  border-radius: 50%;
  color:         #333C4D;
  height:        40px;
  margin-right:  20px;
  padding-left:  9px;
  padding-top:   5px;
  width:         40px;
}

/**
 * top navigation
 */
.top-nav {
  flex: 1;
}

.top-nav a {
  color:           #F9F9F9;
  font-weight:     400;
  margin-left:     20px;
  text-decoration: none;
}

.top-right-nav a {
  color:           #F9F9F9;
  font-weight:     400;
  margin-right:     20px;
  text-decoration: none;
}


/**
 * main container
 */
.container {
  margin:    60px auto;
  width: 100%;
  min-width: 600px;
  height: 100px;

}


/**
 * main header
 */

#header {

  height: 10vh;
  width: 150vh;

}


h2 {
  color: black;
  float: left;
  font-size: 25px;
  font-weight: bold;

}

h4 {

  color: black;
  font-size: 16px;
  font-weight: bold;
}

#wrapper {
  color: black;
  height: 100%;
  margin-left: 100px;
  margin-top: 100px;
  width: 100%;

}

.input {
  float: left;
  width: 50%;
}

.select_options {
  float:left;
  margin-left: 80px;
}


#title {
  width: 300px;
  height: 25px;
}

.textform {
  width: 80%;
  font-size: 15px;

}


.textform-comment {
  width: 80%;
  font-size: 15px;

}

.file {

}


#title, .textform  {
  outline: none;
}



button {
  background-color: #008080;
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  width: 120px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
  padding: 3px;
  outline: none;
}



/**
 * footer section
 */
#footer {
  background: #434343;
  bottom: 0;
  left: 0;
  font-size:  0.8em;
  height:     200px;
  right: 0;
  position:   absolute;

}

#submit {
  bottom: 0;
  font-style: 20px;
}



#footer p {
  text-align: center;
}

#footer p.title {
  font-size: 1.2em;
  padding:   15px;
}

#footer ul {
  align-items: center;
  display:     flex;
  padding:     20px;
}

#footer ul li {
  flex: 1;
}



  </style>
</head>



<body>
  <header class="top-header">
    <nav class="top-nav">
      <a href="../problems/">Problems</a>
      <a href="../groups/">Groups</a>
      <a href="../public/">Community</a>
      <a href="../recommend/">Recommended</a>
      <a href="../about/">About</a>
    </nav>

    <nav class="top-right-nav">
      <!-- Upload icon by Icons8 -->
      <a href="uploadproblem.html">
        <img id="upload-icon" alt="Upload" class="icon icons8-Upload" width="32" height="32" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAZBJREFUeAHtmVEKwjAQRK038jb+6kX04EqdhRbStW02BXe3dQJBA0lm5mVJPno6sZEACZAACZAACUQQ6Pv+Kj1CO1wTwW/or6Hfwg15GkDoO/obfWzy/+7pIUxLgqKX4f8Hwkr440MwhD8uhIbwx4OwEH7pDhgByO/+L8aV8HIR6jZ3Oe4XAtKtBtLp5VmqrQl7ulqFLUHmABwCgiX8EHTCoIRs3aNck+J/i/FJegx0gJa99NqQcavhGgAJ0bpnSPCtRi0Atu7tCgJBLuj6Xa8+X1YAFQgX17BLYgjzKAJVww+hiiXfd4DWwmT9rD71nNAxDD7QTeHFKOZOmsU8FowQnpb57nNg0FySk/QYWM22aFj27CyTfjFHAJT7dmjl2Ov/2Usoqw4BZD0ZL1+sAC/SWXVYAVlPxssXK8CLdFYdVkDWk/HyxQrwIp1VhxWQ9WS8fLECvEhn1WEFZD0ZL1+sAC/S1CEBEiCBjAQ2f43RX3aiw239ssRnMPrkovX/vgKiD4D6JEACJEACJEACcQQ++NW4KDoI9SIAAAAASUVORK5CYII=" >
      </a>
      <span id="welcome-msg"></span>
      <a id="logout-link" href="LogoutServlet">Logout</a>
      <i id="avatar" class="avatar fa fa-user fa-2x"></i>
    </nav>
  </header>

  <div id="wrapper">
    <div id="header">
      <h2>Create a Group</h2>
    </div>

      <div class="input">
      <form action="../creategroup/" method="post" enctype="multipart/form-data">{%csrf_token %}
        <h4>Picture for your group </h4>
        <input id="id_image" type="file" class="file" name="image" multiple
        data-show-upload="false" data-show-caption="true" data-msg-placeholder="Select file for upload...">
        <h4>Group Name</h4>
          <input type="text" class="textform" id="groupName" name="name" maxlength="50">
          <h4>Group Introduction (What class / department is this group for)</h4>
          <input type="text" class="textform" id="groupIntro" name="info" maxlength="80">
        <div><button id="submit" type="Submit">Submit</button> </div>
      </form>

  <script src="https://rawgit.com/emn178/js-md5/master/build/md5.min.js"></script>
  <script>
  (function() {

  /**
   * Variables
   */
  var user_id = '';
  var user_fullname = '';
  var lng = -122.08;
  var lat = 37.38;

  /**
   * Initialize
   */
  function init() {
    // Register event listeners
    $('login-btn').addEventListener('click', login);
    $('nearby-btn').addEventListener('click', loadNearbyItems);
    $('fav-btn').addEventListener('click', loadFavoriteItems);
    $('recommend-btn').addEventListener('click', loadRecommendedItems);

    //validateSession();

    onSessionValid({
      user_id : '1111',
      name : 'John Smith'
    });
  }

  /**
   * Session
   */
  function validateSession() {
    // The request parameters
    var url = './LoginServlet';
    var req = JSON.stringify({});

    // display loading message
    showLoadingMessage('Validating session...');

    // make AJAX call
    ajax('GET', url, req,
    // session is still valid
    function(res) {
      var result = JSON.parse(res);

      if (result.status === 'OK') {
        onSessionValid(result);
      }
    });
  }

  function onSessionValid(result) {
    user_id = result.user_id;
    user_fullname = result.name;

    var loginForm = $('login-form');
    var itemNav = $('item-nav');
    var itemList = $('item-list');
    var avatar = $('avatar');
    var welcomeMsg = $('welcome-msg');
    var logoutBtn = $('logout-link');

    welcomeMsg.innerHTML = user_fullname;

    showElement(itemNav);
    showElement(itemList);
    showElement(avatar);
    showElement(welcomeMsg);
    showElement(logoutBtn, 'inline-block');
    hideElement(loginForm);

    initGeoLocation();
  }

  function onSessionInvalid() {
    var loginForm = $('login-form');
    var itemNav = $('item-nav');
    var itemList = $('item-list');
    var avatar = $('avatar');
    var welcomeMsg = $('welcome-msg');
    var logoutBtn = $('logout-link');

    hideElement(itemNav);
    hideElement(itemList);
    hideElement(avatar);
    hideElement(logoutBtn);
    hideElement(welcomeMsg);

    showElement(loginForm);
  }

  function initGeoLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(onPositionUpdated,
          onLoadPositionFailed, {
            maximumAge : 60000
          });
      showLoadingMessage('Retrieving your location...');
    } else {
      onLoadPositionFailed();
    }
  }

  function onPositionUpdated(position) {
    lat = position.coords.latitude;
    lng = position.coords.longitude;

    loadNearbyItems();
  }

  function onLoadPositionFailed() {
    console.warn('navigator.geolocation is not available');
    getLocationFromIP();
  }

  function getLocationFromIP() {
    // Get location from http://ipinfo.io/json
    var url = 'http://ipinfo.io/json'
    var req = null;
    ajax('GET', url, req, function(res) {
      var result = JSON.parse(res);
      if ('loc' in result) {
        var loc = result.loc.split(',');
        lat = loc[0];
        lng = loc[1];
      } else {
        console.warn('Getting location by IP failed.');
      }
      loadNearbyItems();
    });
  }

  // -----------------------------------
  // Login
  // -----------------------------------

  function login() {
    var username = $('username').value;
    var password = $('password').value;
    password = md5(username + md5(password));

    // The request parameters
    var url = './LoginServlet';
    var params = 'user_id=' + username + '&password=' + password;
    var req = JSON.stringify({});

    ajax('POST', url + '?' + params, req,
    // successful callback
    function(res) {
      var result = JSON.parse(res);

      // successfully logged in
      if (result.status === 'OK') {
        onSessionValid(result);
      }
    },
    // error
    function() {
      showLoginError();
    });
  }

  function showLoginError() {
    $('login-error').innerHTML = 'Invalid username or password';
  }

  function clearLoginError() {
    $('login-error').innerHTML = '';
  }

  // -----------------------------------
  // Helper Functions
  // -----------------------------------

  /**
   * A helper function that makes a navigation button active
   *
   * @param btnId -
   *            The id of the navigation button
   */
  function activeBtn(btnId) {
    var btns = document.getElementsByClassName('main-nav-btn');

    // deactivate all navigation buttons
    for (var i = 0; i < btns.length; i++) {
      btns[i].className = btns[i].className.replace(/\bactive\b/, '');
    }

    // active the one that has id = btnId
    var btn = $(btnId);
    btn.className += ' active';
  }

  function showLoadingMessage(msg) {
    var itemList = $('item-list');
    itemList.innerHTML = '<p class="notice"><i class="fa fa-spinner fa-spin"></i> '
        + msg + '</p>';
  }

  function showWarningMessage(msg) {
    var itemList = $('item-list');
    itemList.innerHTML = '<p class="notice"><i class="fa fa-exclamation-triangle"></i> '
        + msg + '</p>';
  }

  function showErrorMessage(msg) {
    var itemList = $('item-list');
    itemList.innerHTML = '<p class="notice"><i class="fa fa-exclamation-circle"></i> '
        + msg + '</p>';
  }

  /**
   * A helper function that creates a DOM element <tag options...>
   *
   * @param tag
   * @param options
   * @returns
   */
  function $(tag, options) {
    if (!options) {
      return document.getElementById(tag);
    }

    var element = document.createElement(tag);

    for ( var option in options) {
      if (options.hasOwnProperty(option)) {
        element[option] = options[option];
      }
    }

    return element;
  }

  function hideElement(element) {
    element.style.display = 'none';
  }

  function showElement(element, style) {
    var displayStyle = style ? style : 'block';
    element.style.display = displayStyle;
  }

  /**
   * AJAX helper
   *
   * @param method -
   *            GET|POST|PUT|DELETE
   * @param url -
   *            API end point
   * @param callback -
   *            This the successful callback
   * @param errorHandler -
   *            This is the failed callback
   */
  function ajax(method, url, data, callback, errorHandler) {
    var xhr = new XMLHttpRequest();

    xhr.open(method, url, true);

    xhr.onload = function() {
      switch (xhr.status) {
      case 200:
        callback(xhr.responseText);
        break;
      case 403:
        onSessionInvalid();
        break;
      case 401:
        errorHandler();
        break;
      }
    };

    xhr.onerror = function() {
      console.error("The request couldn't be completed.");
      errorHandler();
    };

    if (data === null) {
      xhr.send();
    } else {
      xhr.setRequestHeader("Content-Type",
          "application/json;charset=utf-8");
      xhr.send(data);
    }
  }

  // -------------------------------------
  // AJAX call server-side APIs
  // -------------------------------------

  /**
   * API #1 Load the nearby items API end point: [GET]
   * /Dashi/search?user_id=1111&lat=37.38&lon=-122.08
   */
  function loadNearbyItems() {
    console.log('loadNearbyItems');
    activeBtn('nearby-btn');

    // The request parameters
    var url = './search';
    var params = 'user_id=' + user_id + '&lat=' + lat + '&lon=' + lng;
    var req = JSON.stringify({});

    // display loading message
    showLoadingMessage('Loading nearby items...');

    // make AJAX call
    ajax('GET', url + '?' + params, req,
    // successful callback
    function(res) {
      var items = JSON.parse(res);
      if (!items || items.length === 0) {
        showWarningMessage('No nearby item.');
      } else {
        listItems(items);
      }
    },
    // failed callback
    function() {
      showErrorMessage('Cannot load nearby items.');
    });
  }

  /**
   * API #2 Load favorite (or visited) items API end point: [GET]
   * /Dashi/history?user_id=1111
   */
  function loadFavoriteItems() {
    activeBtn('fav-btn');

    // The request parameters
    var url = './history';
    var params = 'user_id=' + user_id;
    var req = JSON.stringify({});

    // display loading message
    showLoadingMessage('Loading favorite items...');

    // make AJAX call
    ajax('GET', url + '?' + params, req, function(res) {
      var items = JSON.parse(res);
      if (!items || items.length === 0) {
        showWarningMessage('No favorite item.');
      } else {
        listItems(items);
      }
    }, function() {
      showErrorMessage('Cannot load favorite items.');
    });
  }

  /**
   * API #3 Load recommended items API end point: [GET]
   * /Dashi/recommendation?user_id=1111
   */
  function loadRecommendedItems() {
    activeBtn('recommend-btn');

    // The request parameters
    var url = './recommendation';
    var params = 'user_id=' + user_id + '&lat=' + lat + '&lon=' + lng;

    var req = JSON.stringify({});

    // display loading message
    showLoadingMessage('Loading recommended items...');

    // make AJAX call
    ajax(
        'GET',
        url + '?' + params,
        req,
        // successful callback
        function(res) {
          var items = JSON.parse(res);
          if (!items || items.length === 0) {
            showWarningMessage('No recommended item. Make sure you have favorites.');
          } else {
            listItems(items);
          }
        },
        // failed callback
        function() {
          showErrorMessage('Cannot load recommended items.');
        });
  }

  /**
   * API #4 Toggle favorite (or visited) items
   *
   * @param item_id -
   *            The item business id
   *
   * API end point: [POST]/[DELETE] /Dashi/history request json data: {
   * user_id: 1111, visited: [a_list_of_business_ids] }
   */
  function changeFavoriteItem(item_id) {
    // Check whether this item has been visited or not
    var li = $('item-' + item_id);
    var favIcon = $('fav-icon-' + item_id);
    var favorite = li.dataset.favorite !== 'true';

    // The request parameters
    var url = './history';
    var req = JSON.stringify({
      user_id : user_id,
      favorite : [ item_id ]
    });
    var method = favorite ? 'POST' : 'DELETE';

    ajax(method, url, req,
    // successful callback
    function(res) {
      var result = JSON.parse(res);
      if (result.result === 'SUCCESS') {
        li.dataset.favorite = favorite;
        favIcon.className = favorite ? 'fa fa-heart' : 'fa fa-heart-o';
      }
    });
  }

  // -------------------------------------
  // Create item list
  // -------------------------------------

  /**
   * List items
   *
   * @param items -
   *            An array of item JSON objects
   */
  function listItems(items) {
    // Clear the current results
    var itemList = $('item-list');
    itemList.innerHTML = '';

    for (var i = 0; i < items.length; i++) {
      addItem(itemList, items[i]);
    }
  }

  /**
   * Add item to the list
   *
   * @param itemList -
   *            The
   *            <ul id="item-list">
   *            tag
   * @param item -
   *            The item data (JSON object)
   */
  function addItem(itemList, item) {
    var item_id = item.item_id;

    // create the <li> tag and specify the id and class attributes
    var li = $('li', {
      id : 'item-' + item_id,
      className : 'item'
    });

    // set the data attribute
    li.dataset.item_id = item_id;
    li.dataset.favorite = item.favorite;

    // item image
    if (item.image_url) {
      li.appendChild($('img', {
        src : item.image_url
      }));
    } else {
      li.appendChild($('img', {
        src : 'https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png'
      }))
    }
    // section
    var section = $('div', {});

    // title
    var title = $('a', {
      href : item.url,
      target : '_blank',
      className : 'item-name'
    });
    title.innerHTML = item.name;
    section.appendChild(title);

    // category
    var category = $('p', {
      className : 'item-category'
    });
    category.innerHTML = 'Category: ' + item.categories.join(', ');
    section.appendChild(category);

    // TODO(vincent). here we might have a problem showing 3.5 as 3.
    // stars
    var stars = $('div', {
      className : 'stars'
    });

    for (var i = 0; i < item.rating; i++) {
      var star = $('i', {
        className : 'fa fa-star'
      });
      stars.appendChild(star);
    }

    if (('' + item.rating).match(/\.5$/)) {
      stars.appendChild($('i', {
        className : 'fa fa-star-half-o'
      }));
    }

    section.appendChild(stars);

    li.appendChild(section);

    // address
    var address = $('p', {
      className : 'item-address'
    });

    address.innerHTML = item.address.replace(/,/g, '<br/>').replace(/\"/g,
        '');
    li.appendChild(address);

    // favorite link
    var favLink = $('p', {
      className : 'fav-link'
    });

    favLink.onclick = function() {
      changeFavoriteItem(item_id);
    };

    favLink.appendChild($('i', {
      id : 'fav-icon-' + item_id,
      className : item.favorite ? 'fa fa-heart' : 'fa fa-heart-o'
    }));

    li.appendChild(favLink);

    itemList.appendChild(li);
  }

  init();

})();

//END
  </script>
</body>
</html>
